<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "ca.latincuisine.app"
        versionCode = "1.0.0"
        version     = "1.0.0" >

	<name>Latin Cuisine App</name>

	<description>Best Latin Restaurants in Toronto</description>

	<author href="http://laticuisine.ca" email="felipesilvah@gmail.com">Latin Cuisine</author>

	<gap:platform name="android" />
	<preference name="android-build-tool" value="gradle" />

	<preference name="phonegap-version" value="cli-5.2.0" />
	<preference name="permissions" value="none"/>

	<preference name="disallowOverscroll" value="true" />
	<preference name="webviewbounce" value="false" />

	<!-- PhoneGap plugin declaration -->
	<plugin name="cordova-plugin-inappbrowser" />
	<plugin name="cordova-plugin-network-information" />
	<plugin name="cordova-plugin-whitelist" source="npm" />
	<plugin name="cordova-plugin-splashscreen" />
	<plugin name="cordova-plugin-device" />
	<plugin name="cordova-plugin-statusbar" source="npm" />
	<plugin name="cordova-plugin-crosswalk-webview" spec="1.5.0" source="npm" />
	<plugin name="cordova-plugin-battery-status" />
	<plugin name="cordova-plugin-camera" />
	<plugin name="cordova-plugin-media-capture" />
	<plugin name="cordova-plugin-console" />
	<plugin name="cordova-plugin-contacts" />
	<plugin name="cordova-plugin-device-motion" />
	<plugin name="cordova-plugin-device-orientation" />
	<plugin name="cordova-plugin-dialogs" />
	<plugin name="cordova-plugin-file" />
	<plugin name="cordova-plugin-file-transfer" />
	<plugin name="cordova-plugin-geolocation" />
	<plugin name="cordova-plugin-globalization" />
	<plugin name="cordova-plugin-media" />
	<plugin name="cordova-plugin-vibration" />

	<!-- Whitelist policy  -->
	<access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />

	<!-- SplashScreen configuration -->
	<preference name="SplashScreen" value="splash" />
	<preference name="SplashScreenDelay" value="10000" />
	<preference name="FadeSplashScreenDuration" value="300" />
	<preference name="ShowSplashScreenSpinner" value="false" />

	<!-- Icons and Splashscreens declaration -->

	<icon src="icon.png" gap:platform="android" />
	<icon src="icons/icon-wp-appkit-ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="icons/icon-wp-appkit-mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="icons/icon-wp-appkit-hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="icons/icon-wp-appkit-xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="icons/icon-wp-appkit-xxhdpi.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="icons/icon-wp-appkit-xxxhdpi.png" gap:platform="android" gap:qualifier="xxxhdpi" />
	
	<gap:splash src="splash.9.png" gap:platform="android" />
	<gap:splash src="splashscreens/splashscreen-wp-appkit-ldpi.9.png" gap:platform="android" gap:qualifier="ldpi" />
	<gap:splash src="splashscreens/splashscreen-wp-appkit-mdpi.9.png" gap:platform="android" gap:qualifier="mdpi" />
	<gap:splash src="splashscreens/splashscreen-wp-appkit-hdpi.9.png" gap:platform="android" gap:qualifier="hdpi" />
	<gap:splash src="splashscreens/splashscreen-wp-appkit-xhdpi.9.png" gap:platform="android" gap:qualifier="xhdpi" />
	
</widget>
